$input-color: $primary;
$input-placeholder-color:$primary;
$input-font-weight: $font-weight-normal;
$input-font-size: 18px;
$input-border-width:0;
$input-bg: transparent;


.b-section-contact {



  .row:last-of-type {


    img {

      object-fit: contain;
      width: 78.5px;
      height: 53px;
      margin-bottom: 23.4px;
    }

    p {
      max-width: 216px;
      margin: 0 auto;
      margin-bottom: 54.3px !important;
    }
  }



  .form-control {
    border-bottom: 1.5px solid $primary !important;
    padding-left: 0 !important;
    margin-bottom: 30px !important;

  }

  .select {

    border-width: 0 !important;
    margin-bottom: 0px !important;
    box-sizing: border-box;


  }

  .select-div {
    border-bottom: 2px solid $primary;
    margin-bottom: 54.3px !important;
  }

  button {
    margin-bottom: 53px !important;
  }
}
