$input-color: $primary;
$input-placeholder-color:$primary;
$input-font-weight: $font-weight-normal;
$input-font-size: 18px;
$input-border-width:0;
$input-bg: transparent;

$input-focus-bg: transparent;
$input-focus-border-color: transparent;
$input-focus-color: $primary;
$input-focus-box-shadow:none;



.b-section-contact {

  padding-top: 44px;

  z-index: 3;

  form {
    max-width: 730px;
  }

  .e-col-1 {
    p {
      font-weight: 400;
      line-height: 2.5rem;
    }
  }

  .row:last-of-type {


    img {

      object-fit: contain;
      width: 78.5px;
      height: 53px;
      margin-bottom: 23.4px;
    }

    p {
      max-width: 216px;
      margin: 0 auto;
      margin-bottom: 54.3px;
    }
  }



  .form-control {
    border-bottom: 1.5px solid $primary;
    padding-left: 0;
    margin-bottom: 30px;


  }

  .select {

    border-width: 0;
    margin-bottom: 0;
    box-sizing: border-box;


  }

  .select-div {
    border-bottom: 2px solid $primary;
    margin-bottom: 54.3px;

  }

  button {
    margin-bottom: 53px;
  }
}


/********** Media query Responsive breakpoin md and up (tablets) ***************/

@media (min-width: 768px) {}

/********** Media query Responsive breakpoin lg and up (desktops)***************/
@media (min-width: 992px) {
  .b-section-contact {

    background-image: url("/src/assets/images/rectangle-40.png");
    background-position: -320px 330px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
