footer {
  padding-top: 44px !important;


  .row {

    img {
      margin: 25px auto;
    }
  }

  .partners-logo-block {
    padding-bottom: 44px !important;
  }

  .partners-privacy-section {

    height: 59.7px;

    small {
      color: $white;
      line-height: 59.7px;
    }
  }


}
