.b-hero {
  background: url("/src/assets/images/Hero_Image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 567.5px;
  background-color: #231f20;
  padding-top: 0;
  position: relative;

  .row {
    padding-top: 130px;
    max-width: 277.6px;

    .col {
      padding: 0;
    }
  }

  .hero-overlay {
    background: rgba(35, 31, 32, 0.461);

    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .logo-image {
    height: 137.09px;
    width: 163px;
    margin-bottom: 60px;

  }

  h1 {
    height: 147px;

  }
}


/********** Media query Responsive breakpoin (sm and up)***************/

@media (min-width: 768px) {

  .b-hero {


    .row {
      padding-top: 267px;
      max-width: 624px;

      .logo-image {
        height: 206px;
        width: 246px;
        margin-bottom: 74px;

      }

      h1 {
        margin-bottom: 66px;
      }

      .btn {
        margin-bottom: 100px;
      }

    }


  }

}
