.navbar-custom {
  background-color: transparent;
  padding-top: 20px !important;

  transition: .5s all ease !important;

  img {
    width: 140px;
    height: 15px;

  }



}

.activo {

  background-color: $primary !important;

}


/********** Media query Responsive breakpoin md and up (tablets) ***************/

@media (min-width: 768px) {


  .navbar-custom {

    padding-top: 50px !important;


    img {
      width: 168px;
      height: 18px;

    }

  }

}

@media (min-width: 1200px) {

  .navbar-custom {
    padding-top: 50px !important;
    padding-left: 135px !important;
    padding-right: 135px !important;
  }
}
