body {

  max-width: 1440;

}

.b-section {
  padding-top: 44px;

  .e-col-1 {
    z-index: 3;
  }

  .row {
    h2 {

      margin-bottom: 15px;

    }

    p {
      margin-bottom: 30px;
    }

    .e-col-2 {
      background-image: url("/src/assets/images/Heart\ Leaf\ EDIT\ STEM.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      width: 100%;
      margin-top: -150px;
      z-index: 1;
    }
  }
}
